services:
  nocodb:
    image: nocodb/nocodb:latest
    container_name: nocodb
    ports:
      - "8080:8080"
    environment:
      NC_DB: "pg://db:5432?u=nocodb&p=password&d=nocodb"
    volumes:
      - nocodb_data:/usr/app/data
    depends_on:
      - db
    restart: unless-stopped
  
  db:
    image: postgres:18
    container_name: nocodb_postgres
    environment:
      POSTGRES_USER: nocodb
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nocodb
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

  jaeger:
    image: cr.jaegertracing.io/jaegertracing/jaeger:2.10.0
    container_name: jaeger
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - COLLECTOR_OTLP_HTTP_HOST_PORT=:4318
      - COLLECTOR_OTLP_GRPC_HOST_PORT=:4317
    ports:
      - "4318:4318"    # OTLP HTTP receiver
      - "16686:16686"  # Jaeger UI
    networks:
      - jaeger-network

  phoenix:
    image: arizephoenix/phoenix:latest
    container_name: phoenix
    ports:
      - "6006:6006"    # Phoenix UI & traces
    networks:
      - jaeger-network  

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "6001:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - jaeger
      - phoenix
    networks:
      - jaeger-network



volumes:
  nocodb_data:
  postgres_data:

networks:
  jaeger-network:
    driver: bridge
