services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: arvo-backend
    env_file:
      - ./backend/.env
    environment:
      NOCODB_URL: http://nocodb:8080
      OTEL_JAEGER_EXPORTER_URL: http://nginx/jaeger/v1/traces
      OTEL_PHOENIX_EXPORTER_URL: http://nginx/arize/v1/traces
      POSTGRES_CONNECTION_STRING: "pg://db:5432?u=nocodb&p=password&d=nocodb"
    restart: unless-stopped
    networks:
      - arvoworks-network
    depends_on:
      - nocodb
    develop:
      watch:
        - action: rebuild
          path: ./backend

  nocodb:
    image: nocodb/nocodb:latest
    container_name: nocodb
    environment:
      NC_DB: "pg://db:5432?u=nocodb&p=password&d=nocodb"
    volumes:
      - nocodb_data:/usr/app/data
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - arvoworks-network
  
  db:
    image: postgres:18
    container_name: nocodb_postgres
    environment:
      POSTGRES_USER: nocodb
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nocodb
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped
    networks:
      - arvoworks-network

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - QUERY_BASE_PATH=/jaeger
    networks:
      - arvoworks-network

  phoenix:
    image: arizephoenix/phoenix:latest
    container_name: phoenix
    environment:
      - PHOENIX_HOST_ROOT_PATH=/arize
    networks:
      - arvoworks-network  

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "6001:80"
      - "6002:5432"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - jaeger
      - phoenix
      - nocodb
      - db
    networks:
      - arvoworks-network



volumes:
  nocodb_data:
  postgres_data:

networks:
  arvoworks-network:
    driver: bridge
